<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Student</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container">

<h2 class="w3-center w3-teal">Add New Student</h2>

<form th:action="@{/students/save}" th:object="${student}" method="post" class="w3-card-4 w3-padding-16">
    <p>
        <label>Name:</label>
        <input type="text" th:field="*{name}" class="w3-input w3-border w3-margin-bottom"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="w3-text-red"></span>
    </p>
    <p>
        <label>Email:</label>
        <input type="text" th:field="*{email}" class="w3-input w3-border w3-margin-bottom"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="w3-text-red"></span>
    </p>
    <p>
        <label>Age:</label>
        <input type="number" th:field="*{age}" class="w3-input w3-border w3-margin-bottom"/>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="w3-text-red"></span>
    </p>
    <button type="submit" class="w3-button w3-green w3-block">Save</button>
</form>

</body>
</html>
